@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jost";
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
}
.header {
  display: flex;
  gap: 20px;
  padding-top: 5%;
  padding-bottom: 2%;
}

.menu ul{
    display: none;
}
.fa-bars{
    padding-left: 125px;
    font-size: xx-large;
}
.header logo {
  fill: conic-gradient(
    from 90deg at 50% 50%,
    rgba(231, 129, 107, 0) 0deg,
    #e7816b 359.74345207214355deg
  );
}

a {
  text-decoration: none;
}

.box1 {
  background-color: #e7816b;
  background-image: url(./images/Group\ 5.png);
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 30%;
  position: relative;
}
.box1 h2 {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 5%;
  padding-top: 22%;
  z-index: 1;
}

.box1 p {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.box1 img {
  position: absolute;
  display: block;
  top: 0;

  width: 100%;

  object-fit: cover;
  display: block;
  height: 50%;

  padding-top: 0;
}

.content {
  padding-top: 60%;
  position: relative;
  z-index: 1;
}

.box3 {
  background: #fdf3f0;
  background-image: url(./images/Group\ 6.png);
  background-position: center bottom;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box3 h2 {
  font-family: Jost;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(231, 129, 107, 1);
  padding-top: 15%;
  padding-bottom: 15%;
}

.box3 p {
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 30%;
  padding-left: 5%;
  padding-right: 5%;
}
.box3 img {
  

  width: 100%;

  object-fit: fill; 
  display: block;
  height: 50%;

  padding-top: 0;
}

.topic1-text h4 {
  color: #333136;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; 
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.topic1-text p {
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.topic1 img {
  padding-top: 20%;
  padding-bottom: 20%;
}
.topic1-text {
  padding-left: 15px;
  padding-right: 15px;
}
.topic2-text {
  padding-left: 15px;
  padding-right: 15px;
}

.topic3-text {
  padding-left: 15px;
  padding-right: 15px;
}
.topic2-text h4 {
  color: #333136;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.topic2-text p {
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.topic2 img {
  padding-top: 20%;
  padding-bottom: 20%;
}

.topic3-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topic3-text h4 {
  color: #333136;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.topic3-text p {
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.topics {
  width: 100%;
  padding-bottom: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topic3 img {
  padding-top: 20%;
  padding-bottom: 20%;
}

.topic1 button,
.topic2 button,
.topic3 button {
  width: 152px;
  height: 56px;
  color: #fff;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(231, 129, 107, 1);
  border-radius: 8px;
  border: none;
  position: relative;
  z-index: 1;
  margin-top: 15px; /* Adjust margin as needed */
}

.top {
  text-align: center;
  width: 100%;
}

.topic1-text,
.topic2-text,
.topic3-text {
  padding-left: 0;
  padding-right: 0;
}

.topic1,
.topic2,
.topic3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topic3 button {
  margin-top: 15px;
}

.box4 {
  background: #fdf3f0;
  background-image: url(./images/Group\ 6.png);
  background-position: center bottom;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box4 h2 {
  font-family: Jost;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(231, 129, 107, 1);
  padding-top: 15%;
  padding-bottom: 15%;
}

.box4 p {
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 30%;
  padding-left: 5%;
  padding-right: 5%;
}
.box4 img {
  display: block;

  width: 100%;

  object-fit: fill;
  display: block;
  height: 50%;

  padding-top: 0;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  border-radius: 15px;
  background-color: #e7816b;
  background-image: url(./images/Group\ 31.png);
  background-position: center;
  position: relative;
  z-index: 2;
  margin-bottom: -33vh;
  padding-left: 3%;
  padding-right: 3%;
}
.box2 h2 {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.box2 p {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-top: 20%;
  padding-bottom: 20%;
}

.box2 button {
  width: 152px;
  height: 56px;
  color: #333136;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  background: #fff;
  position: relative;
  z-index: 1;
}
.outer-box {
  padding-left: 5%;
  padding-right: 5%;
  background-color: none;
}

.footer {
  background-color: black;

  position: relative;
  z-index: 1;
}
.footer-nav-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  gap: 30px;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 2px;
}

.footer1 {
  color: darkgray;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding-top: 10%;
}

hr {
  color: darkgray;
}

.footer2 {
  color: darkgray;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: 10%;
  padding-bottom: 10%;
}

.footer-icons {
  color: rgba(231, 129, 107, 1);
  text-align: center;
  gap: 30px;
  font-size: 25px;
}

.footer-box {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  padding-top: 60%;
}
